/target/
/.idea/
/.metadata/
/build/

db.*
Lab5/src/main/java/poly/com/model/SMTP_Password.java
.DS_Store

/Assignment_JAV101/target
/Servers
Lab6/target/m2e-wtp/web-resources/META-INF/maven/Lab6/Lab6/pom.properties
Assignment/.settings/org.eclipse.wst.common.project.facet.core.xml
Assignment/.settings/org.eclipse.wst.common.component
